@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --bg-color : white;
  --second-bg-color : #f0f8ff ;
  --text-color : #73788d;
  --main-color : #2467eb;
  --heading-color : #02042e;
}

html {
  font-size: 65.5%;
  overflow-x : hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.75;
}

header {
  background-color: var(--heading-color);
  color: var(--second-bg-color);
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background: var(--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--second-bg-color);
  font-weight: 600;
  float: left;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--second-bg-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  text-decoration-line: underline;
}


footer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--bg-color);
  }
  .left {
    width: 40%;
    padding-left: 30px;
  }
  
  .left h1 {
    color: var(--heading-color);
    margin-bottom: 10px;
  }
  
  .left-icon i {
    margin-right: 10px;
    font-size: 2.5rem;
  }
  
  .left p {
    margin-bottom: 10px;
  }
  
  .right {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
  }
  
  .navigate p , .support p , .contact p { 
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--heading-color);
  }
  
  .navigate li a,
  .support li a,
  .contact li a{
    font-size: 1.5rem;
    color: var(--text-color);
  }
  
  .navigate li:hover,
  .support li:hover ,
  .contact li:hover
  {
    font-weight: 500;
  }
  .navigate li ,
  .support li ,
  .contact li 
   {
    margin-bottom: 5px;
  }
  

  .main-content {
    display: flex;
    flex-direction: row;
    padding: 35px;
    letter-spacing: 1px;
    font-size: 2.1rem;
  }

  .main-content img {
    width: 650px;
    border-radius: 25px;
  }

  .main-content p {
    margin-left: 50px;
  }

  .main-content span {
    font-size: 5rem;
    margin-left: 15px;
  }

  .stats , .highlight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    width: 350px;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 50px;
  }

  .cards {
    padding: 20px;
    background-color: var(--second-bg-color);
    text-align: center;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card span  {
    font-weight: 900;
    font-size: 100px;
    color: var(--heading-color);
  }

  .card p , .cards p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .cards h1 {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 10px;


  }