@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --bg-color : white;
  --second-bg-color : aliceblue ;
  --text-color : #73788d;
  --main-color : #2467eb;
  --heading-color : #02042e;
}

html {
  font-size: 65.5%;
  overflow-x : hidden;
}

body {
  background: var(--heading-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.75;
}

header {
  margin-top: 20px;
  background-color: var(--heading-color);
  color: var(--second-bg-color);
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background: var(--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--second-bg-color);
  font-weight: 600;
  float: left;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--second-bg-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  text-decoration-line: underline;
}

.nav_login-btn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 2px solid var(--second-bg-color);
  border-radius: 25px;
}

.nav_login-btn:hover {
  border: 4px solid var(--second-bg-color);
  font-weight: 700;
}

.home-content {
  background-color: #02042e;
  padding-top: 60px;
  padding-left: 50px;
}
.target {
  padding-left: 9px;
  padding-right: 9px;
  padding: 10px;
  color: #f0ec0a;
  border-radius: 25px;
  background-color: #060b68a8;
  letter-spacing: .5px;
}

.home h1 {
  padding-top : 25px ;
  color: white;
  font-size: 7.3rem;
  line-height: 80px;
}

.home p {
  padding-top: 20px;
  color: var(--text-color);
  font-size: 1.8rem;
}

.login-btn {
  background: var(--main-color);
  color: var(--second-bg-color);
  padding: 20px;
  border-radius: 25px;
  font-size: 1.rem;
  margin-top: 35px;
  width: 180px;
  margin-bottom: 135px;
}

.login-btn i {
  font-size: 1.7rem;
  margin-right:5px ;
}

.info {
  background: var(--second-bg-color);
}
.info-content {
  padding-top: 50px;
  display:flex;
  flex-direction: row;
}

.info-text {
  float: right;
  width: 50%;
}

.info-text h1 {
  padding-top: 80px;
  color: var(--heading-color);
  line-height: 60px;
  font-size: 4.3rem;
  margin-bottom: 40px;
  font-weight: 800;
}

.info-text p {
  font-size: 1.7rem;
  margin-bottom: 50px;
}

.info-btn {
  background: var(--main-color);
  color: var(--second-bg-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-bottom: 150px;
}

.info-img {
  padding: 80px;
  width: 50%;
  align-items: center;
  align-content: center;
}

.info-img img {
  width: 50%;
}

.collect {
  background:var(--bg-color);
  padding-left: 50px;
  text-align: center;
  align-content: center;

}

.collect-content,
.step-content {
  padding-top: 30px;
  text-align: center;

}
.collect-header h1 ,.step-header h1 , .partner-head h1 {
  color: var(--heading-color);
  line-height: 50px;
  font-size: 3.7rem;
  font-weight: 800;
}

.collect-header p , .step-header p .partner-head p {
  margin-top: 15px;
  font-size: 1.7rem;
  margin-bottom: 25px;
}

.collect-card {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.card {
  margin: 15px;
  width: 30.33%;
  /*border:2px solid #02042e;*/
  padding: 8px;
}

.card img {
  height: 275px;
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin-top: 8px;
  color: var(--heading-color);
  font-weight: 700;
  text-align: left;
}

.card span {
  color: var(--text-color);
  font-size: 1.5px;
}

.card p {
  text-align: left;
  margin-bottom: 10px;
}

.card-btn {
  padding: 9px;
  margin-bottom: 60px;
}

.card-btn {
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: var(--second-bg-color);
  color: var(--main-color);
}

.card-btn:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.card-btn a {
  color: var(--heading-color);
  font-weight: 600;
  margin-left: 50px;
}
.card-btn a:hover {
  transform: scaleX(1.1);


}
.step {
  background:var(--second-bg-color);
  padding-left: 50px;
  padding-bottom: 50px;
}

.process-card {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.step-card {
  position: relative;
  margin: 15px;
  width: 30.33%;
  /*border:2px solid #02042e;*/
  padding: 18px;
  background-color: var(--bg-color);
  border-radius: 10px;
} 

.step-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.step-card span {
  position: absolute;
  background-color: var(--heading-color);
  color: var(--bg-color);
  font-size: 2rem;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  border: 8px solid var(--bg-color);
  font-weight: 500;
}

.step-card h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.partner-body ul li img {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.partner {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--bg-color);
}

.partner-head {
  padding-bottom: 50px;
}

.partner-btn {
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2.1rem;
  font-weight: 600;
  background-color: var(--main-color);
  color: var(--bg-color);
}

.row ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.row ul li {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity :.6;
  filter: grayscale(80%);
}

.row ul li img {
  height: 100px;
  width: auto;
  
}

.row ul li:hover {
  opacity :1;
  filter: grayscale(0%);
  color: var(--heading-color);
  font-weight: 600;
}

.row ul li p {
  margin-top: 10px;
  color: var(--text-colors);
}

.row ul li p:hover {
  margin-top: 10px;
}

.join{
  background: var(--second-bg-color);
}

.join-content {
  display:flex;
  flex-direction: row;
}

.join-text {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.join-text h1 {
  padding-top: 80px;
  color: var(--heading-color);
  line-height: 60px;
  font-size: 4.3rem;
  margin-bottom: 40px;
  font-weight: 800;
}

.join-text p {
  font-size: 1.7rem;
  margin-bottom: 50px;
}

.join-btn {
  background: var(--main-color);
  color: var(--second-bg-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-bottom: 150px;
  margin-top: 20px;
  width: 50%;
}

.join-img {
  padding: 80px;
  width: 50%;
  align-items: center;
  align-content: center;
}

.join-img img {
  width: 50%;
}

.join-text input {
  margin: 15px;
  padding: 15px;
  padding-left: 25px;
  font-size: 1.7rem;
  border-radius: 50px;
  width: 70%;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: var(--second-bg-color);
}

footer {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--bg-color);
}
.left {
  width: 40%;
  padding-left: 30px;
}

.left h1 {
  color: var(--heading-color);
  margin-bottom: 10px;
}

.left-icon i {
  margin-right: 10px;
  font-size: 2.5rem;
}

.left p {
  margin-bottom: 10px;
}

.right {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
}

.navigate p , .support p , .contact p { 
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.navigate li a,
.support li a,
.contact li a{
  font-size: 1.5rem;
  color: var(--text-color);
}

.navigate li:hover,
.support li:hover ,
.contact li:hover
{
  font-weight: 500;
}
.navigate li ,
.support li ,
.contact li 
 {
  margin-bottom: 5px;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  border: 2px solid var(--heading-color);
  position: fixed;
  top: 15%;
  left: 40%;
  border: 1px solid var(--second-bg-color);
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  
  border: 2px solid var(--heading-color);
  max-width: 400px;
  padding: 20px;
  background-color: var(--bg-color);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  border: none;
  background: var(--second-bg-color);
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: rgb(209, 234, 255);
  outline: none;
}

.form-container h3 {
  text-align: center;
}

/* Set a style for the submit/login button */
.form-container .btn {
  margin-top: 15px;
  border-radius: 25px;
  background-color: var(--heading-color);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

