* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4a86e8;
    margin-top: 0;
}

/* Service styles */
.service-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    flex-wrap: wrap; /* Allow services to wrap onto next line */
}

.service {
    border: 1px solid #ddd;
    padding: 1.5rem;
    flex-basis: calc(30% - 2rem); /* Adjusted size to account for border and padding */
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text */
    margin-bottom: 1.5rem; /* Add space between items */
}

.service img {
    width: 60%; /* Adjust image size */
    margin-bottom: 1rem; /* Add space between image and text */
}

.service h2 {
    color: #4a86e8;
    margin-top: 0;
}

.service p {
    color: #666;
    margin-bottom: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .service {
        flex-basis: calc(100% - 2rem); /* Adjusted size for full width */
    }
}